body{
    background-color: rgb(96, 105, 124);
}

.p1
{
    background-color: thistle;
}

.p1:hover
{
    background-color: white
}

.car
{
 width: 25%;
 height: auto;
 border-radius: 100%

 
}
.legendas
{
    text-align: center;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
