.nav
{
    display: block;
    position:absolute;
    top: 0px;
    left: 0%;
    right: 0%;
    height: 50px;
    background-color: black;
    width: 100%;

}
.tit_pagina
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: chocolate;
    font-size: 16px;
    margin-left: 50px;
    padding-left: 50px;
    /* codigo abaixo é para mantar texto no meio*/
    position: relative;
    margin: 0%;
    top: 50%;
    transform: translateY(-50%);
    float: left;


}
.link_pagina
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: chocolate;
    font-size: 20px;
    /* codigo abaixo é para mantar texto no meio*/
    position: relative;
    margin: 0%;
    top: 50%;
    transform: translateY(-50%);
    float:right;
    padding-right: 40px;

}

.link_pagina:hover
{
    color:   #ed2478;
    background-color:   #aa1;

}
.fundo_lp
{
    height: 70px;
    padding: 50px;
}